* {
  box-sizing: border-box;
}

/* De hoogte en de rand instellen van het div-element */
div.grid-center {
  height: 5em;
  border: 1px solid #000;
}

/* Om tekst zowel horizontaal als verticaal te centreren kan je 
   gebruikmaken van grid layout */
div.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

