/*Algemene opmaak en layout voor mobile (<481px) */


/* 
achtergrond - kleur -lettertype - lijn hoogte - breedte
box-sizing activeren en een kleiner lettertype
*/

header,
section,
aside,
article,
footer,
.description {
    box-sizing: border-box;
    padding-left: 0.5em;
}

body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.2em;
    width: 100%;
}


/* achtergrond instellen */

header {
    background-color: #aeaca8;
}


/* Uit commentaar, nadat picture is toegevoegd in html */

header > picture {
    display: none;
}


/* 
tekst ipv afbeelding voor de laagste resolutie
font vergroten - breedte 

Opdracht 1: gebruik flexbox in plaats van float om het h1-element en het a-element
naast elkaar te plaatsen.
*/

nav {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: #de6581;
    padding: 0.5em;
    font-size: 1.5em;
    width: 75%;
    flex: none;
}

/*Uitklapmenu - icon */


/*Niet zichtbaar - positionering tov browservenster - nog een beetje opmaak*/

nav ul {
    display: none;
    background-color: #aeaca8;
}


/* zichtbaar maken bij hoveren*/

nav:hover ul {
    display: block;
    flex: auto;
}

/* Opdracht 1: eventueel kunnen we er nog voor zorgen
dat als er gehoverd wordt over het h1-element
het menu niet verschijnt  */
/* h1:hover ~ ul {
    display:none;
} */

/* opmaak uitklapmenu */

nav li {
    border-bottom: 1px solid #eee;
}

nav li:last-child {
    border-bottom: 0;
}

nav li a {
    display: block;
    padding: .5em .8em;
    color: black
}

nav li a:hover {
    color: #de6581;
    background-color: #666666;
}

nav li a.current {
    color: #000000;
    cursor: default;
}


/* Einde menu */


/*
kleiner lettertype voor p en a in section
*/

section p,
section a {
    font-size: 0.8em;
}


/*
opmaak afbeeldingen dimensies komen overeen met dimensies van *-small.jpg
en extra ruimte onderaan voor de figcaption - centreren
*/

figure {
    max-width: 218px;
    max-height: 170px;
    padding: 1em 1em 0;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

.description {
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}


/*
opmaak anchors
*/

aside section a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #de6581;
    text-decoration: none;
}


/*
opmaak headings
*/

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
    padding: 0.5em 0 0.1em;
}

h3 {
    font-size: 1.1em;
    padding: 0.4em 0;
    color: #de6581;
}


/* tussenlijntje met section */

aside {
    border-top: 1px solid #eee;
}


/*
opmaak nav en footer
*/

nav,
footer {
    color: #ffffff;
    background-color: #aeaca8;
}


/*
specifieke opmaak voor footer
*/

footer {
    text-align: center;
    font-size: 75%;
    height: 5%;
}


/*Layout voor mobile (>480px) */


/*
Enkel de eigenschappen aangepast die wijzigen tov de algemen instellingen
*/

@media screen and (min-width: 480px) {
    /*header-medium.jpg tonen, hoogte (hoogte image)*/
    header {
        padding: 0;
    }
    header > picture {
        display: block;
        max-height: 65px;
        background-image: url(../images/header-medium-bg.jpg);
        background-repeat: repeat-x;
        background-position: top right;
    }
    /*h1 uit scherm verwijderen */
    h1 {
        display: none;
    }
    /*icoon verbergen */
    nav > a {
        display: none;
    }
    /* horizontale menubalk */
    nav {
        margin-top: 2px;
    }

    /* Opdracht 2: gebruik flexbox i.p.v. inline-block om de navigatielinks naast elkaar te plaatsen */
    nav ul,
    nav ul:hover { 
        display: flex;
        padding: .1em;
    }
    nav li {
        padding-left: .5em;
        margin-right: .5em;
        border-bottom: 0;
    }

    /* CSS grid: section.courses (55%)  en aside (45%) naast elkaar plaatsen */
    header  {grid-area: header;}
    section.courses {grid-area: section;}
    aside   {grid-area: aside;}
    footer  {grid-area: footer;}

    body {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-areas: 
        "header header"
        "section aside"
        "footer footer";
    }

    /* overige opmaak */

    aside {
        /* lijntje is enkel nodig in mobile view  */
        border-top: 0px;
    }

    figure {
        margin: 2em 0 0;
    }
    section.popular-recipes,
    section.contact-details {
        padding-top: 2em;
    }
}


/*Layout voor desktop (>992px) */

@media screen and (min-width: 992px) {
    header > picture {
        max-height: 130px;
        background-image: url(../images/header-bg.jpg);
    }
    nav li {
        padding-left: 1em;
        font-size: 1.1em;
    }

    /* CSS grid: breedte van section.courses en aside wijzigen */
    body {
        grid-template-columns: 70% 30%;
    }

    /* Opdracht 3: gebruik flexbox om 'figure' en '.description' naast elkaar te plaatsen */
    figure {
        max-width: 290px;
        max-height: 220px;
        margin-right: 1.5em;
    }
    article {
        display:flex;
    }
    .description {
        padding-top: 1.5em;
    }
}